<%- include("partials/header"); -%>
<style media="screen">


#navi{
  display:none;
}
</style>
<section>
  <!--for demo wrap-->
  <h1>Enter Your Grades</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>

          <th>Course Title</th>
          <th>Credit</th>
          <th>Grade</th>

        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>BT101</td>
          <td>6.00 </td>
          <td><select class="mySelect">
  <option value="AA">AA</option>
  <option value="AB">AB</option>
  <option value="BB">BB</option>
  <option value="BC">BC</option>
  <option value="CC">CC</option>
  <option value="CD">CD</option>
  <option value="DD">DD</option>
  <option value="F">F</option>
</select></td>

        </tr>
        <tr>
          <td>CS101</td>
          <td>6.00</td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>

        </tr>
        <tr>
          <td>CS110</td>
          <td>3.00</td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>
</select></td>

        </tr>
        <tr>
          <td>EE102</td>
          <td>3.00</td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>
</select></td>

        </tr>
        <tr>
          <td>MA102</td>
          <td>8.00 </td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>
</select></td>

        </tr>
        <tr>
          <td>ME101</td>
          <td>8.00</td>
          <td>
            <select class="mySelect">
              <option value="AA">AA</option>
              <option value="AB">AB</option>
              <option value="BB">BB</option>
              <option value="BC">BC</option>
              <option value="CC">CC</option>
              <option value="CD">CD</option>
              <option value="DD">DD</option>
              <option value="F">F</option>
            </select>
</td>

        </tr>
        <tr>
          <td>ME110</td>
          <td>3.00</td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>
</select></td>

        </tr>
        <tr>
          <td>PH102</td>
          <td>6.00</td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>
</select></td>

        </tr>
        <!-- <tr>
          <td>PH110</td>
          <td>3.00 </td>
          <td><select class="mySelect">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="BB">BB</option>
            <option value="BC">BC</option>
            <option value="CC">CC</option>
            <option value="CD">CD</option>
            <option value="DD">DD</option>
            <option value="F">F</option>
</select></td>

        </tr> -->

      </tbody>
    </table>
  </div>
</section>
<div class="result">
  <h1>ghhgb</h1>
  <button type="button" onclick="calc()" class="btn btn-success resbtn">CALCULATE</button>
</div>


<!-- follow me template -->



<%- include("partials/footer"); -%>
