<%- include("partials/header"); -%>



<button class="accordion">Press To Display Guide</button>
<div class="panel">
  <ul>
    <li><p>Select CPI or SPI you want to calculate</p></li>
    <li><p>Please make sure to enter all your Grades correctly</p></li>
    <li><p>click on calculate to display your result</p></li>

  </ul>

</div>
<button class="accordion">Resources from where the following info is taken</button>
<div class="panel">
  <ul>
    <li><a href="https://drive.google.com/file/d/1P6YjoiQITYmxDR-C5NVow16CJmBIe-5J/view?usp=sharing">pdf by IIT Guwahati</a></li>
    <li><p>THE RESULT DISPLAYED IS TENTATIVE NOT OFFICIAL</p></li>
    <li><p>Suggestion and Corrections are welcomed</p></li>
  </ul>

</div>







<%- include("partials/footer"); -%>
