<%- include("partials/header"); -%>



<button class="accordion">Press To Display Guide</button>
<div class="panel">
  <ul>
    <li><p>Select CPI or SPI you want to calculate</p></li>
    <li><p>Select Your Current Semester</p></li>
    <li><p>Select Your Branch</p></li>
  </ul>

</div>







<%- include("partials/footer"); -%>
